/MVAFW/*.suo

/MVAFW/MVAFW/bin/Debug

/MVAFW/MVAFW/obj/Debug

*.suo
*.vsidx

MVAQCDVT\MVAQCDVT\bin\Debug\MVAFW.pdb
MVAQCDVT\MVAQCDVT\bin\Debug\MVAFW.dll
MVAQCDVT\MVAQCDVT\bin\Debug\MVAQCDVT.exe
MVAQCDVT\MVAQCDVT\bin\Debug\MVAQCDVT.pdb
MVAQCDVT\MVAQCDVT\obj
MVAQCDVT\MVAQCDVT\bin\Debug\MVAQCDVT.vshost.exe.manifest
MVAQCDVT.vshost.exe.manifest

/MVAQCDVT/MVAQCDVT/bin/Debug/*.log

/MVAQCDVT/MVAQCDVT/bin/Debug/System.Windows.Forms.DataVisualization.dll

/MVAQCDVT/MVAQCDVT/bin/Debug/System.Windows.Forms.DataVisualization.xml

/MVAQCDVT/MVAQCDVT/bin/Debug/zh-CHT/System.Windows.Forms.DataVisualization.resources.dll

/MVAQCDVT/MVAQCDVT/obj/Debug/MVAQCDVT.Scheduler.resources
/MVAQCDVT/MVAQCDVT/bin/Debug/System.Data.SQLite.dll
/MVAQCDVT/MVAQCDVT/bin/Debug/MVAQCDVT.vshost.exe
/MVAQCDVT/MVAQCDVT/bin/Debug/MVAQCDVT.pdb
/MVAQCDVT/MVAQCDVT/bin/Debug/MVAQCDVT.exe
/MVAQCDVT/MVAQCDVT/bin/Debug/MVAFW.pdb
/MVAQCDVT/MVAQCDVT/bin/Debug/MVAFW.dll
obj

/MVAQCDVT/MVAQCDVT/bin/Debug/mvaDB.sqlite
/MVAQCDVT/MVAQCDVT/bin/Debug/mvaResultDB.sqlite
